header {
    z-index: 1;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.navbar-default {

    background-color: transparent;
    border-color: transparent;
}
.navbar-brand {
    height: auto;
}
.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}
#top-nav-collapse {
    padding-top: 15px;
}

#wrapper
{
    padding:0;
}

.section-card
{
    text-align:center;
    padding:0px 0;
}

.box {
   /* z-index: 1; */

    width: 100%;
    position: absolute;
    top: 0;

    bottom:0;
    background: rgba(52, 52, 54, 0.7);

    padding-top: 0;

}

#tint {
    z-index:2;
    width: 100%;
    position: absolute;
    top: 0;

    bottom:0;
    background: rgba(52, 52, 54, 0.3);

    padding-top: 0;

}
.grid-full {
    width: 100%;
    float: left;
}

.ghost-btn {
    display: inline-block;
    text-decoration: none;
    border: 3px solid whitesmoke;

    height: 15px;
    width: 65px;
    line-height: 36px;
    color: whitesmoke;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    text-align: center;
    padding: .1em 1.5em 1.4em 1.5em;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    -webkit-backface-visibility: hidden;
    position: relative;
    text-transform: uppercase;
/*
    letter-spacing:1px;
    font-size: 1.2em;
    font-weight:900;*/
}
.ghost-btn:hover {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: whitesmoke;
    color: white;
}
.ghost-btn:focus {
    outline: none;
}

#owl-demo .item img {
    display:block;
    width: 100%;
    height: auto;
}

.tint {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(52, 52, 54, 0.2);
    transition: all .3s linear;
}

.owl-controls {
    margin-top:-50px;
    z-index: 1000;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left:-45px;
    top: 55px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
    right:-45px;
    top: 55px;
}


